.container {
    max-width: 48rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}
.record_header {
    display: flex;
}
.container2 {
    width: 20rem;
    margin: 0 auto;
}